@import "tailwindcss";

/* Importar fonte Google (opcional) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

/* Customizações usando @layer */
@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
  }
}

@layer components {
  .btn-primary {
    @apply bg-indigo-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-700 transition;
  }
}

@layer utilities {
  .rotate-15 {
    transform: rotate(15deg);
  }
}
@keyframes bubbly {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}
canvas {
  z-index: 5 !important;
}
@keyframes bubbleFloat {
  0% {
    transform: translateY(100vh);
    opacity: 0.3;
  }
  100% {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

.animate-bubble {
  position: absolute;
  background-color: #facc15;
  border-radius: 50%;
  opacity: 0.3;
  animation-name: bubbleFloat;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}



